@using EntityLayer.Entities
@model List<tbl_musteri>
@{
    ViewBag.Title = "hepsi";
}

<h2>Müşteri bilgileri</h2>

<br />
<br />


<table class="table table-bordered" id="table">
    <tr>
        <th>adı</th>
        <th>Soyadı</th>
        <th>tc</th>
        <th>Email</th>
        <th>Cep telefonu</th>
        <th>Ev telefonu</th>
        <th>İş telefonu</th>
        <th>Ev adresi</th>
        <th>is Adresi</th>
        <th>müşreri durumu</th>
        <th>Sıradışı isim</th>

    </tr>
    @foreach (var item in Model)
    {

        //burada ise müşterinin adında en az 3 tane sesli harf varsa sıradısı isim olarak true yaptık

        char[] sesli1 = { 'a', 'A', 'e', 'E', 'ı', 'I', 'i', 'İ', 'o', 'O', 'ö', 'Ö', 'u', 'U', 'ü', 'Ü' };

        int sayac = 0;
        for (int i = 0; i < item.ad.Length; i++)
        {
            if (sesli1.Contains(item.ad[i]))
            {

                sayac++;


            }

        }
        <tr>
            <td>@item.ad</td>
            <td>@item.soyad</td>
            <td>@item.tc</td>
            <td>@item.mail</td>
            <td>@item.cep_tel</td>
            <td>@item.ev_tel</td>
            <td>@item.is_tel</td>
            <td>@item.ev_adress</td>
            <td>@item.is_adress</td>
            <td>@item.durum</td>
            <td>
                @if (sayac >= 3)
                {
                    item.siradisiisim = true;
                }
                else
                {
                    item.siradisiisim = false;
                }
                @item.siradisiisim
            </td>

            
            <td><a class="btnguncelle btn btn-danger " data-id="@item.id">Müşteriyi aktif et</a></td>



        </tr>


    }
</table>

<script src="~/Scripts/jquery-1.9.0.min.js"></script>

<script type="text/javascript">

    $(function () {


        $("#table").on("click", ".btnguncelle", function () {

            var btn = $(this);
            bootbox.confirm("Kalıcı olarak silmek istediginize eminmisiniz", function (result) {

                if (result) {

                    var id = btn.data("id");
                    $.ajax({
                        type: "GET",
                        url: "/admin/Delete2/" + id,
                        success: function () {
                            btn.parent().parent().remove();
                        }

                    });


                }

            })



        });
    });

</script>


